.default-layout {
  .ant-layout-header {
    padding: 0;
  }
  .logo {
    float: left;
    background: rgba(255, 255, 255, 0.1);
    color: $WHITE;
    padding: 0 $GUTTER_SIZE * 2;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .container {
    width: calc(100% - 100px);
  }
  .content {
    background: $WHITE;
    padding: $GUTTER_SIZE * 3;
    min-height: 280px;
  }
}
.auth-layout {
  background: #f4f8fa;
  height: 100vh;
  .login-block {
    .ant-card-head {
      text-align: center;
    }
    .ant-input-affix-wrapper {
      font-size: 20px;
    }
  }
}
